.gap{
    margin-top: 20px;
}
.form-group2{
    margin-top: 20px;
}
.heading2{
    margin-top:15px;
    
}

.form-groupp1{
    margin-top: 20px;
}
.form-groupp2{
    margin-top: 20px;
}